@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    margin: 0;
    background-color: skyblue;
}

/* Animation taken from www.dev.to/vaishnavs */
#throbber {
    position: fixed;
    background-color: skyblue;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
    width: 10rem;
    height: 10rem;
    border: 5px solid #ccc;
    border-top: 6px solid lightslategrey;
    border-radius: 100%;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    opacity: 0.4;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    padding-right: 8px;
}

form {
    gap: 8px;
    align-items: center;
}

.unit-span:first-of-type {
    margin-left: auto;
}

.unit-span {
    font-size: 1.1rem;
    opacity: 0.8;
}

.unit-span.active {
    font-weight: bold;
    opacity: 1;
}

#site-container {
    grid-template-columns: 1fr minmax(auto, 7fr);
    grid-auto-rows: min-content;
    gap: 8px;
    height: 100vh;
    background-color: skyblue;
}

#site-container > * {
    margin-left: 12px;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex.vertical {
    flex-direction: column;
}

img {
    margin: 8px;
}

#header {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
    background-color: lightseagreen;
    margin-left: 0;
    padding-left: 12px;
    padding-right: 12px;
}

input,
button {
    background-color: inherit;
    border: 1px solid lightslategrey;
    border-radius: 8px;
    font-size: 1.1rem;
}

#search-btn {
    margin-left: -4px;
}

input {
    padding: 0 24px 0 8px;
}

.hidden {
    display: none;
}

#subheader {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

#location {
    font-weight: bold;
}

#subheader,
#current-container,
#forecast-container {
    padding: 12px 0;
}

#subheader,
#current-container,
#today,
#tomorrow,
#alerts,
#long-forecast {
    font-size: 1.1rem;
}

#current-container,
#forecast-container {
    margin-bottom: 24px;
}

#weather-container {
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    margin-right: 12px;
}

#current-container {
    align-items: center;
    border: 2px solid lightslategrey;
    border-radius: 8px;
}

#current-icon {
    width: 6rem;
    height: 6rem;
}

.forecast-icon {
    width: 3.6rem;
    height: 3.6rem;
}

.long-forecast-icon {
    width: 2.4rem;
    height: 2.4rem;
}

#forecast-container {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: min-content;
    gap: 8px;
}

#tomorrow {
    grid-column: 4 / -1;
}

.forecast-card {
    justify-content: space-around;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.4);
    padding: 4px 0;
    height: 14rem;
    border-radius: 8px;
}

#alerts,
#alerts-container > * {
    color: yellow;
}

#long-forecast-container {
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: min-content;
    grid-column: 1 / -1;
    gap: 8px;
    margin-top: 40px;
}

#long-forecast {
    grid-column: 1 / -1;
}

.long-forecast-tempmax {
    color: red;
}

.long-forecast-tempmin {
    color: blue;
}

/* Switch taken from www.w3schools.com */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
